body * {
  box-sizing: border-box;
}

.todos-page {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.todos-page-content {
  border: 1px solid lightgrey;
  padding: 7px;
}

.todos-header {
  text-align: center;
  margin-bottom: 20px;
}

.todos-footer {
  background-color: whitesmoke;
  margin-top: 5px;
  font-size: 0.8em;
  padding: 2px 5px;
}

.todos-option {
  display: inline-block;
  margin-right: 10px;
}

.todo-item {
  padding: 7px;
  width: 100%;
  border: 1px solid lightgrey;
  margin-top: 10px;
}

.todo-item-text {
  font-size: 1.5em;
  margin-left: 5px;
}

.todos-completed-info {
  text-align: center;
  font-weight: 700;
  color: grey;
}

.right {
  float: right;
}

.icon {
  cursor: pointer;
}

