body * {
  box-sizing: border-box;
}

.todos-page {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

.todos-page-content {
  border: 1px solid lightgrey;
  padding: 7px;
}

.todos-header {
  text-align: center;
}

.todos-footer {
  margin-top: 5px;
  font-size: 0.8em;
  padding: 0 5px;
}

.todo-item {
  padding: 7px;
  width: 100%;
  border: 1px solid lightgrey;
  margin-top: 10px;
}

.todo-item-text {
  font-size: 1.5em;
  margin-left: 5px;
}

.right {
  float: right;
}

.icon {
  cursor: pointer;
}

